@using System
@using HsCentralServiceWeb._dbs.hsserver.centralservicedb.rows
@using HsCentralServiceWeb._sys
@using HsCentralServiceWeb._sys.hubs.webManagement
@using HsCentralServiceWeb._sys._extensions._razorExtensions
@{
	CsAjaxForm csAjaxForm;
}
@using (csAjaxForm = Ajax.Cs().Form("Partial_UnConnectedClients", "Ring", null))
{
	<div class="col-md-12" >
		@foreach (RemoteComputer computer in Sys.Hubs.RingDistribution.UnConnectedComputer)
		{
			<div class="col-md-2 container-fluid" >
				<button type="button" class="btn btn-sm btn-danger"> @computer.Name </button>
			</div>
		}
	</div>
}

@WwwSurferNotificationHub.Attach_ComputerConnectionChanged(csAjaxForm.Id)