
*
{
	border-radius: 0 !important;
}

.simpleBox
{
	border: 1px solid #ddd;
	padding: 10px;
	margin-left: 20px;
}


.card-block
{
	padding: 0.6rem 1rem;
}
.card-header
{
	padding: 0.6rem 1rem;
	margin-bottom: 0rem;
}

.cs-ajax-overlay
{
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.disabledLink {
	cursor: default;
	text-decoration: none !important;
	color: black !important;
	background-color: #F0AD4E;
}
.disabledLink:hover {
	cursor: default;
	text-decoration: none !important;
	color: black !important;
	background-color: #F0AD4E;
}
.disabledLink:active {
	cursor: default;
	text-decoration: none !important;
	color: black !important;
	background-color: #F0AD4E;
}
.disabledLink:visited {
	cursor: default;
	text-decoration: none !important;
	color: black !important;
	background-color: #F0AD4E;
}